<div class="search-page">
  <%= render "shared/flash" %>
  <div class="main">
    <h1 class="title">Job Match</h1>
    <h3>Job searching is fun.</h3>
    <% unless @current_user %>
      <div class="well">
      <h4><%= link_to "Log In", login_path, :data => {toggle: 'modal', target: '#myModal'}, class: "btn btn-primary login-btn" %>
      </h4>
      <h4>No account? Just<%= link_to " sign up", signup_path, :data => {toggle: 'modal', target: '#myModal'} %> - it's easy! You'll need an account to add jobs to your board, store your resume, and view your job Match Scores. </h4>
      </div>
    <% end %>
    <div class="row">
      <form class="center-block form-inline search-form" role="search" id="search-form">
        <div class="form-group">
          <%= bootstrap_form_tag do |f| %>
            <%= f.text_field :skill, label: "skill", class: "form-control" %>
            <%= f.text_field :location, label: "location", class: "form-control" %>
            <%= f.submit "Search" %>
          <% end %>
         </div>
      </form>
    </div>
    <div class="row">
      <div class="instructions text-center text-info">
        <p>Enter a skill and location to explore available jobs, then click the <span class='icon-pad-flat btn btn-success btn-xs glyphicon glyphicon-plus'></span> to add them to your
        <% if @current_user %>
          <%= link_to "Job Board", profile_path, class: "" %>
        <% else %>
          job board
        <% end %>
        .</p>
        <p>To see your Match Score for each job, add your
        <% if @current_user %>
          <%= link_to "Resume", users_path, class: "" %>
        <% else %>
          resume
        <% end %>
        .</p>
      </div>
    </div>
    <div class="clouds">
      <% unless params[:skill].nil? %>
        <% @search_results.each do |result| %>
          <div class="col-md-6 col-lg-6 cloud-container">
            <h4 class='text-center'>
              <% job_key = result["jobkey"] %>
              <%= link_to result["jobtitle"], "http://www.indeed.com/viewjob?jk=#{job_key}",:target => '_blank', class: 'job-title' %>
            </h4>
            <h4 class="company"><%= job_key = result["company"] %>
              <% if @current_user %>
                <a href="/add_job/<%= result['jobkey'] %> "><button class='icon-pad btn btn-success btn-xs glyphicon glyphicon-plus' data-toggle="tooltip" title="Add to Job Board"></button></a>
              <% else %>
                <span class='icon-pad-flat btn btn-success btn-xs glyphicon glyphicon-plus' data-toggle="tooltip" title="Log in to add to job board"></span>
              <% end %>
            </h4>
            <div class='job-desc'></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

