
<h1 class="text-center">Career Match Profile</h1>
<div class="row">
<div class="col-md-4 col-lg-4">

  <h4>My Resume

  <% if @current_user.resume %>
  <%= link_to '', users_edit_path, class: 'icon-pad btn btn-info btn-xs glyphicon glyphicon-pencil' %>
  <% else %>
  <%= link_to '', users_edit_path, class: 'icon-pad btn btn-success btn-xs glyphicon glyphicon-plus' %>
  <% end %>
  </h4>
  <p class="instructions text-info">Add your resume to generate job match scores.</p>

  <div class="resume my-cloud">

  </div>
</div>
<div class="col-md-8 col-lg-8">
<div class="clouds">
  <% @jobs.each do |job| %>
    <!-- <div class="my-cloud"> -->
      <h4 class='text-center'>
      <%= link_to job.title, @url,:target => '_blank' %><span class='text-muted'> |
      <%= job.company %> |
      <%= job.location %></span>
      <%= link_to "", jobs_path(job.id),  method: :delete, data: {confirm: "Are you sure?"}, class: "icon-pad btn btn-danger btn-xs glyphicon glyphicon-trash" %>
    </h4>

    <div class='job-desc my-cloud'>
    <h6><button class="btn btn-info match-button" type="button">Match Score <span class="badge icon-pad"><%= job.matchscore %></span></button></h6></div>
    <!-- </div> -->
  <% end %>
</div>
</div>
<%= @matchscore_arr %>

</div>