<div class="resume-page">
<h2><%= @current_user.name.titlecase %>'s Resume

</h2><%= link_to ' back', :back, class: "icon-pad pull-left glyphicon glyphicon-arrow-left" %>
<div class="row"> <p class="text-muted instructions">Your resume is used to generate a Match Score with the jobs you select, so be sure it's up to date!
</p>
<div class="col-md-6 col-lg-6">
<!-- <h4>Resume</h4> -->
<% if @current_user.resume %>
<%= link_to '', users_edit_path, class: 'icon-pad btn btn-info btn-xs glyphicon glyphicon-pencil pull-right' %>
<% else %>
  <%= link_to '', users_edit_path, class: 'icon-pad btn btn-success btn-xs glyphicon glyphicon-plus pull-right' %>
<% end %>
<% if @current_user.resume %>
  <p><%= @current_user.resume %></p>
    <% end %>
</div>

<div class=" col-md-6 col-lg-6">
<h4>Check out Match Scores on the  <%= link_to "Job Board", profile_path, class: "" %></h4>
  <div class="resume my-cloud">

  </div>
</div>
</div>

<div class='clearfix'></div>
</div>
