<h1>Home</h1>


<%= bootstrap_form_tag do |f| %>
  <%= f.text_field :q, label: "skill" %>
  <%= f.text_field :l, label: "location" %>
  <%= f.primary "Search" %>
<% end %>

<div class="clouds">
  <% @results.each do |result| %>

  <div class="col-md-6 col-lg-6">

  <h4 class='job-title text-center'><%=  link_to result["jobtitle"], '#',:target => '_blank' %></h4>
  <div class='job-desc'></div>
  </div>
  <% end %>


</div>


